<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/style.css">
  <title>Rock Paper Scissor</title>
</head>
<body>
  <section class="container">
    <header class="header">
      <img src="../images/logo.svg" alt="logo">
      
      <div class="score">
        <p class="score__title">
          score
        </p>
        <p class="score__number">
          12
        </p>
      </div>
    </header>

    <section class="main">
     <div class="paper">
      <button class="choice paper" data-choice="paper">
        <img src="../images/icon-paper.svg" alt="paper">
      </button>
     </div>

     <div class="scissor">
      <button class="choice scissor" data-choice="scissor">
        <img src="../images/icon-scissors.svg" alt="scissor">
      </button>
     </div>

     <div class="stone">
      <button class="choice stone" data-choice="stone">
        <img src="../images/icon-rock.svg" alt="stone">
      </button>
     </div>

    </section>
  </section>
</body>
</html>